* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgb(102, 97, 102),
    rgb(180, 171, 176),
    rgb(160, 157, 158)
  );
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 100vh;
  }
}
